.container {
    margin: 15px;
}

md-card {
    margin: 5px;
}

md-card:hover {
    background-color: lightcyan;
    cursor:pointer;
}

md-list-item:hover {
    background-color: lightcyan;
    cursor:pointer;
}