
<div class="container" fxLayout='row' fxLayout.xs="column">
  <div fxFlex="25%">
      <h2>Users</h2>
      <md-list>
        <md-list-item  *ngFor="let user of users | async" (click)="onSelectUser(user.$key)" [ngClass]="{'selected' : user.$key == (selectedUser | async)?.$key}">
          <p md-line>{{user.username}}</p><br>
          <md-icon md-list-icon>play_arrow</md-icon>
          <p md-line> {{user.name}} </p>
          <p md-line> {{user.email}} </p>
        </md-list-item>
        <md-divider></md-divider>
      </md-list>
  </div>
  <div fxFlex fxHide.xs>
      <h2>Posts</h2>
      <div *ngFor="let post of posts | async">
        <md-card>
          <md-card-header>
            <md-card-title>{{post.title}}</md-card-title>
          </md-card-header>
          <md-card-content>
            <md-card-content>{{post.body}}</md-card-content>
          </md-card-content>
        </md-card>
      </div>
  </div>
</div>